body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    font-family: 'Yantramanav', sans-serif;
}

/* ///// HEADER ///// */

header {
    background-color: #3366ff;
    padding: 30px 0px;
}

header h1 {
    margin: 0;
    font-size: 48px;
    color: #ffffff;
    text-align: center;
}

/* ///// NAVIGATION //// */

nav {
    background-color: #1bbc9d;
    padding: 20px 0px;
    border-bottom: 1px solid #c2c2c2;
    text-align: center;
    box-shadow: 3px 3px 5px #2c2c2c;
}

nav a {
    font-weight: 700;
    font-size: 1.4em;
    text-decoration: none;
    color: #2d3e50;
    padding: 0px 20px;
}

nav a:hover {
    color: #ffffff;
}

a.active {
    color: #ffffff;
}

/* ///// MAIN CONTENT ///// */

main {
    width: 960px;
    margin: 0 auto;
}

h2 {
    font-size: 36px;
    margin: 0px 0px 10px 0px;
}

p, ul li, a, figcaption {
    font-size: 21px;
    font-weight: 300;
    line-height: 1.5;
}

.bold-green {
    color: #4eba6f;
    font-weight: 700;
}

.pageOverview {
    padding: 50px 0px;
    margin: 30px 0px;
}

.textContainer {
    margin-bottom: 30px;
}

.imageLeft {
    display: inline-block;
    margin: 0;
}

.imageLeft img {
    opacity: 0.8;
}

#benefits {
    float: right;
    width: 55%;
}

.stepsContent {
    float: right;
    width: 55%; 
}

section {
    clear: right;
}

hr {
    clear: right;
    width: 100%;
    margin: 30px 0px;
}

/* ///// FOOTER ///// */

footer {
    clear: right;
    background-color: #2d3e50;
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
    padding: 30px 0px;
}

footer p {
    margin: 0;
}